<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Layout</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="text-center">
				<div class="error mx-auto" data-text="401">401</div>
				<p class="lead text-gray-800 mb-5">Page Authorize</p>
				<p class="text-gray-500 mb-0">It looks like you found a glitch
					in the matrix...</p>
				<a th:href="@{/login}">&larr; Back to login</a>
			</div>
		</div>
	</div>
</body>
</html>